*{
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    margin: auto;
}

h1,h2,h3,h4,.contact-btn,.learn-btn1,.learn-btn2,strong{
    font-family: 'Fraunces', serif;
}
h1,header a, .contact-btn:hover{
    color: hsl(0, 0%, 100%);  
}
header{
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    display: block;
    margin:auto;
    margin-top: -5%;
    height:40rem;
    padding-top: 8%;
    padding-left: 2%;
    padding-right: 2%;
}
.top-nav{
overflow: hidden;
}

.top-logo{
    margin-left: 10%;
    display: flex;

}

header a{
    text-decoration: none; 
    padding: 16px;
}

ul{
    list-style: none;
    display: flex;
    float: right;
    margin-top: -2%;
    margin-right: 11%;
}

ul li{
    padding:5px;
}
ul li:hover{
    transform:scale(1.1);
    transition:0.3s;
}
.contact-btn{
    padding:14px;
    margin-top: -10%;
    margin-left: 5%;
    width: 100%;
    border-radius: 25px;
    border-style: solid;
    border:none;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.contact-btn:hover{
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 25px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
#hamburger-icon{
    display: none;
    margin: auto ;
    cursor: pointer;
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.mobile-menu{
    display:none;
    position: absolute;
    padding-top: 10%;
    background-color:hsl(0, 0%, 100%);
    top:90px;
    left:40px;
    height:20rem;
    width:78%;
    border-top: 30px solid #3EBFFF; 
    border-right: 30px solid hsl(0, 0%, 100%);
}


.mobile-menu a {
   margin-left:-25%;
   color: hsl(213, 9%, 39%) ;
}
.mobile-menu li{
    font-size: 18px;
    padding-bottom: 8%;
    text-align: center;
}


#heading{
    text-align: center;
    margin-top: 8%;
}
h1{
 font-size: 60px;
 font-weight: 900;
}

#transform,#stand-out,#gp-section,.testimonial-row,#images{
    display: flex;
    flex-direction: row;
    width:100%;
}

.second-section{
    display: flex;
    flex-wrap: wrap;
}
h2{
    font-weight: 700;
    font-size: 38px;
    margin-top: -15%;
    color: hsl(212, 27%, 19%);
}

.transform-content{
   margin-top: 15%;
   margin-left:10%;
   width:50%;
}
.transform-image{
    width:max-content;
 
}
.egg-img,.pink-img{
    width:50vw;
    height: auto;
}
.egg-img{
    width:49vw 
}

.standout-content{
    margin-top: 15%;
    margin-left: 5%;
    width:50%;  
}
.stand-out-image{
    width:max-content; 
}

.transform-p,.stand-p{
    color: hsl(213, 9%, 39%);
    line-height: 1.6;
    width:70%;
}
.learn-btn1,.learn-btn2{
    border:none;
    background-color: transparent;
    font-size: 15px;
    margin-top: 5%;
    margin-left: -2%;
    cursor: pointer;
}

.learn-btn1:after,.learn-btn2:after{
    margin:auto;
    content: "";
    display: block;
    height: 10px;
    position: relative;
    margin-top: -5%;
    width: 120px;
    z-index: -1;
    border-radius: 25px;
}
.learn-btn1:after {
    background: none repeat scroll 0 0 hsla(51, 100%, 49%, 0.363); 
}
.learn-btn2:after {
    background: none repeat scroll 0 0 hsla(7, 99%, 70%, 0.452);  
}
.learn-btn1:hover:after,.learn-btn2:hover:after{
    margin:auto;
    content: "";
    display: block;
    height: 10px;
    position: relative;
    margin-top: -6%;
    width: 120px;
    z-index: -1;
    border-radius: 25px;  
}
.learn-btn1:hover:after {
    background: none repeat scroll 0 0 hsl(51, 100%, 49%);
}

.learn-btn2:hover:after{
    background: none repeat scroll 0 0  hsl(7, 99%, 70%);
}

#gp-section{

    margin-top: -2%;   
}
.graphic{
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}

.Photography{
    background-image: url("images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    margin-left: -10.5%;
}
.photo-p,.graphic-p{
    margin:auto;
    text-align: center;

}
.graphic-h3{
    text-align: center;
    padding-top: 45%;
    margin-left: -10%;
    color:hsl(167, 40%, 24%);
    font-size: 25px;
}
.photo-h3{
    padding-top: 55%; 
    text-align: center;
    color:hsl(198, 62%, 26%);
    font-size: 25px;
}

.photo-p{
   width:50%;
   color:hsl(198, 62%, 26%);
   line-height: 1.6;

}
.graphic-p{
    width:40%;
    margin-left: 25%;
    color:hsl(167, 40%, 24%);
    line-height: 1.6;
}

#testimonials{
    height:520px;
    margin-top: 10%;
}

h4,small{
    color:hsl(210, 4%, 67%);
}
h4{
    text-align: center;
}
.testimonial-img,.testimonial-p,small,strong{
    display: block;
    margin:auto;
    text-align: center;
}

.testimonial-img{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-top: 10%;
}
.testimonial-p{ 
    width:60%;
    margin-top:10%;
    color:hsl(232, 10%, 55%);
}
small{ 
    margin-top: -2%;
}
strong{
   margin-top: 10%;
}

.images-row{
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
}
.milk,.sugar,.cone,.orange{
    width: 25.8%;
    margin-left: -1%;
}
.sugar{
    width:26.5%;
}


footer{
    height:fit-content;
    width:100%;
    background-color: hsla(168, 60%, 52%, 0.548); 
    margin-top: -1%;
    text-align: center;  
}

.footer-logo{
    padding-top:5%;
    padding-bottom: 2%;
}
.footer-links a{
    text-decoration: none;
    color:hsl(168, 34%, 41%);
    padding: 10px 30px;
}
.footer-links a:hover{
    color: hsl(0, 0%, 100%);
}
.social-icons{
  margin-top: 4%;
}
.icon{
    margin: 10px; 
}
a .icon:hover path{
    fill:hsl(0, 0%, 100%);
}


@media (max-width:850px) {
    header{
        background-image: url("images/mobile/image-header.jpg");
        background-repeat: no-repeat;
        background-position: center; 
        height:500px;
        width:100%;
        padding-top: 15%;      
    }
    #logo{
        width:140px;
    }
    header nav {
        display: none;
      }
    
    #hamburger-icon {
        display: block;
        float:right;
        margin-top: -7%;
        margin-right: 34px;
      }
    .contact-btn{
        background-color: hsl(51, 100%, 49%);
        width:140px;
        margin-top: 10%;
        margin-left: -13%;
      }
  
    h1{
        margin-top: 15%;
        font-size: 43px;

    }
    h2{
        margin-top: 20%;
    }
    #transform{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #stand-out,#gp-section,.testimonial-row,#testimonials{
        display: flex;
        flex-direction: column;

    }
    .pink-img,.egg-img,.stand-out-image,.transform-image{
       width:100%;
  
    }
    .transform-p,.stand-p{
         width:80%;
         margin: auto;
    }
    .stand-h2,.transform-h2{
        font-size: 30px;
        width:300px;
        margin:auto;

    }
   
    .transform-content{
        width:80%;
        text-align: center;
        margin: auto;
    }
    .standout-content{
        width:75%;
        text-align: center;
        margin: auto;
    }
    .learn-btn1,.learn-btn2{
        margin-bottom: 20%;
        margin-top: 5%;
    }  
    .stand-out-image,.transform-image{
        max-width:100%;
    }
   
    .Photography{
        background-image: url("images/mobile/image-photography.jpg");
        width:100%;
        margin-left: 0;
        height: auto; 
    }
    .graphic{
        background-image: url("images/mobile/image-graphic-design.jpg");
        width:100%;
        height: auto;
    }
    .graphic-h3,.photo-h3{
        padding-top: 90%;
        margin:auto;
    }

    .photo-p,.graphic-p{
        width:fit-content;
        padding-bottom: 5%;
    }
    .graphic-p{
       margin-left: 5%;
    }
    .testimonial-p{
        width:80%;
        line-height: 1.7;
    }
    .images-row{
        display:grid;
        grid-template-columns: auto auto ;
        width:100%;
        margin-top: 155%;
    }
    .milk,.sugar,.cone,.orange{
        width: 100%;
        height:15rem;   
   }
    
    .footer-logo{
    padding-top:13%;
    padding-bottom: 10%;
   }
    .social-icons{
    margin-top: 5%;
   }
}

